<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body id="audio-body">
<div id="audio-controls" class="form-inline">
    <label for="url-input">URL</label>
    <input id="url-input" type="text">
    <button id="url-submit-button" class="btn">Load URL</button>
</div>
<iframe id="audio-iframe"></iframe>
<a href="/">Set audio source</a>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script> var socketIoUrl = '<%= socketIoUrl %>';</script>
<script src="javascripts/audio.js"></script>
</html>