body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#history {
    height: 300px;
    overflow-y: scroll;
}

#audio-body {
    padding: 0px;
}

#audio-controls {
    margin: 10px;
}

#history li {
    list-style: none;
}